In [9]:
import sqlite3
from flask import Flask, request, jsonify
from functools import wraps

conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [16]:
def get_db_connection():
    conn = sqlite3.connect('example.db')
    conn.row_factory = sqlite3.Row  # Access rows by name
    return conn

In [17]:
def create_table():
    conn = get_db_connection()
    conn.execute('''CREATE TABLE IF NOT EXISTS users (
                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                        name TEXT NOT NULL,
                        age INTEGER NOT NULL,
                        email TEXT UNIQUE NOT NULL)''')
    conn.commit()
    conn.close()

# Run the function to create the table (once per notebook session)
create_table()

In [ ]:
def insert_user(name, age, email):
    conn = get_db_connection()
    conn.execute("INSERT INTO users (name, age, email) VALUES (?, ?, ?)", (name, age, email))
    conn.commit()
    conn.close()

# Example: Insert a new user
insert_user("Alice", 30, "alice@example.com")

In [18]:
def get_users():
    conn = get_db_connection()
    users = conn.execute("SELECT * FROM users").fetchall()
    conn.close()
    return users

# Get and display all users

In [ ]:
def update_user(user_id, name=None, age=None, email=None):
    fields = []
    values = []
    if name:
        fields.append("name = ?")
        values.append(name)
    if age:
        fields.append("age = ?")
        values.append(age)
    if email:
        fields.append("email = ?")
        values.append(email)
    
    if fields:
        query = f"UPDATE users SET {', '.join(fields)} WHERE id = ?"
        values.append(user_id)
        conn = get_db_connection()
        conn.execute(query, values)
        conn.commit()
        conn.close()

# Example: Update Alice's age
update_user(1, age=31)
get_users()

In [ ]:
def delete_user(user_id):
    conn = get_db_connection()
    conn.execute('DELETE FROM users WHERE id = ?', (user_id,))
    conn.commit()
    conn.close()

# Example: Delete user with ID 1
delete_user(1)
get_users()

In [ ]:
cursor = conn.cursor()
# create_table()
# insert_user("Alice", 30, "alice@example.com")
# insert_user("yahya", 28, "yahyashanaah@gmail.com")
# read_users()
# update_user(1, age=22)  # Update Alice's age
# read_users()
# delete_user(2)  # Delete Bob


# Close the connection when done
conn.close()

IndentationError: unexpected indent (3598491557.py, line 5)